body {
    margin: 0;
}

.video-wrapper {
    width: 100%;
    /* width: 960px; */
    height: auto;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.play-button {
    cursor: pointer;
    width: 18%;
    height: 11%;
    position: absolute;
    top: 78%;
    left: 41%;
    margin: 0 !important;
    /* background-color: rgba(0,0,0,.3); */
}

div#slider-range {
    display: block;
    position: absolute;
    top: 52%;
    left: 15%;
    margin: 0 !important;
    width: 69%;
    height: 0;
    border: none;
}

input#amount {
    bottom: 260px;
    position: absolute;
    background: none;
    color: #fff !important;
    font-size: 27px;
    width: 25%;
    text-align: center;
    position: absolute;
    top: 63%;
    left: 37.5%;
    margin: 0 !important;
    height: 10%;
}

video#video {
    position: absolute;
}

span.ui-slider-handle.ui-corner-all.ui-state-default {
    border-radius: 30px;
    width: 30px;
    height: 30px;
    top: -3px;
    cursor: grab;
    left: 0;
}

span.ui-slider-handle.ui-corner-all.ui-state-default:active {
    cursor: grabbing;
}

span.ui-slider-handle.ui-corner-all.ui-state-default:focus {
    outline: none;
}

span.ui-slider-handle.ui-corner-all.ui-state-default {
    border: none;
}

.ui-slider-range.ui-corner-all.ui-widget-header {
    top: 9px;
    position: absolute;
    background: #fff;
    height: 5px;
}

.ui-state-default, .ui-state-active {
    background: white !important;
}
